doctype html
html
	head
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Falcom Masters Project
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet", href="css/custom.css")
	body
		header
			nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(data-toggle="collapse" type="button" data-target="#navbar-1")
							span.sr-only Main Menu
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="#") Brand
					.navbar-collapse.collapse#navbar-1
						ul.navbar-nav.nav
							li.active
								a(href="#") Inicio
							li.dropdown
								a.dropdown-toggle(href="#" data-toggle="dropdown" role="button") Dropdown 
									span.caret
								ul.dropdown-menu(role="menu")
									li(role="presentation")
										a(href="#") item#1
									li(role="presentation")
										a(href="#") item#2
									li(role="presentation")
										a(href="#") item#3
									li(role="presentation")
										a(href="#") item#4

							li
								a(href="#") Blog
							li
								a(href="#") Contacto
					
						form.navbar-form.navbar-right(role="search")
							.form-group
								input.form-control(type="text" placeholder="Search:")
							button.btn.btn-primary(type="button")
								span.glyphicon.glyphicon-search
		
		section.jumbotron
			.container
				h1 Falcom Masters Blog
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quibusdam!
		
		
		section.main.container
			.row
				section.posts.col-md-9
					.migas-de-pan
						ol.breadcrumb
							li
								a(href="") Inicio
							li
								a(href="") Categorias
							li.active
								| Diseno Web
					// FIRST ARTICLE
					article.post.clearfix
						a.thumb.pull-left(href="#")
							img.img-thumbnail(src="http://lorempixel.com/880/440/city/1", alt="city lorem")
						h2.post-title
							a(href="#")  Lorem ipsum dolor sit amet, consectetur.
						p
							span.post-fecha 26 de marzo de 2016 
							| por
							span.post-autor
								a(href="#")  Aaron Ulate

						p.post-contenido.text-justify   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam id suscipit maxime consectetur quae consequuntur unde sit, vero inventore quo, eius. Deleniti, ex eos illo libero nostrum suscipit neque unde perspiciatis veritatis consectetur dolor repellat deserunt sed maiores, error! Repudiandae, labore aperiam expedita consequuntur. Rerum assumenda qui aliquam ullam deleniti?

						.contenedor-botones
							a.btn.btn-primary(href="#") Leer Mas  
							a.btn.btn-success Comments  
								span.badge 25
					
					// SECOND ARTICLE
					article.post.clearfix
						a.thumb.pull-left(href="#")
							img.img-thumbnail(src="http://lorempixel.com/880/440/city/2", alt="city lorem")
						h2.post-title
							a(href="#")  Lorem ipsum dolor sit amet, consectetur.
						p
							span.post-fecha 26 de marzo de 2016 
							| por
							span.post-autor
								a(href="#")  Aaron Ulate

						p.post-contenido.text-justify   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam id suscipit maxime consectetur quae consequuntur unde sit, vero inventore quo, eius. Deleniti, ex eos illo libero nostrum suscipit neque unde perspiciatis veritatis consectetur dolor repellat deserunt sed maiores, error! Repudiandae, labore aperiam expedita consequuntur. Rerum assumenda qui aliquam ullam deleniti?

						.contenedor-botones
							a.btn.btn-primary(href="#") Leer Mas  
							a.btn.btn-success Comments  
								span.badge 25

					// THIRD ARTICLE
					article.post.clearfix
						a.thumb.pull-left(href="#")
							img.img-thumbnail(src="http://lorempixel.com/880/440/city/3", alt="city lorem")
						h2.post-title
							a(href="#")  Lorem ipsum dolor sit amet, consectetur.
						p
							span.post-fecha 26 de marzo de 2016 
							| por
							span.post-autor
								a(href="#")  Aaron Ulate

						p.post-contenido.text-justify   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam id suscipit maxime consectetur quae consequuntur unde sit, vero inventore quo, eius. Deleniti, ex eos illo libero nostrum suscipit neque unde perspiciatis veritatis consectetur dolor repellat deserunt sed maiores, error! Repudiandae, labore aperiam expedita consequuntur. Rerum assumenda qui aliquam ullam deleniti?

						.contenedor-botones
							a.btn.btn-primary(href="#") Leer Mas  
							a.btn.btn-success Comments  
								span.badge 25
				
					nav.center-block
						ul.pagination
							li.disabled
									a(href="#") &laquo; 
										span.sr-only Anterior
							li.active
								a(href="#") 1
							li
								a(href="#") 2
							li
								a(href="#") 3
							li
								a(href="#") 4
							li
								a(href="#") 5
							li
								a(href="#") &raquo;
									span.sr-only Siguiente

				aside.col-md-3.hidden-xs.hidden-sm
					h4 Categorias

					.list-group
						a.list-group-item.active(href="#") Categoria
						a.list-group-item(href="#") CSS
						a.list-group-item(href="#") Cursos
						a.list-group-item(href="#") Desarrollo Web
						a.list-group-item(href="#") Elementos Web

					h4 Articulos Recientes

					a.list-group-item(href="")
						h4.list-group-item-heading Inicio projecto html5 y bootstrap
						p.list-group-item-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, itaque.

					a.list-group-item(href="")
						h4.list-group-item-heading Inicio projecto html5 y bootstrap
						p.list-group-item-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, itaque.

					a.list-group-item(href="")
						h4.list-group-item-heading Inicio projecto html5 y bootstrap
						p.list-group-item-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, itaque.


		footer
			.container
				.row
					.col-xs-6
						p Aaron Ulate - Uleats
					.col-xs-6
						ul.list-inline.text-right
							li
								a(href="href"#"") Inicio
							li
								a(href="href"#"") Cursos
							li
								a(href="href"#"") Contactos



	
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")


