doctype
html
	head
		title dropdownbutton
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
	
	body

		.container
			.row
				.col-md-10

					h1 Dropdown Button

					.dropdown
						button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button") Dropdown 
							span.caret
						ul.dropdown-menu(role="menu")
							
							li(role="presentation")
								a(href="#") item#1
							li(role="presentation")
								a(href="#") item#2
							li(role="presentation")
								a(href="#") item#3
							li(role="presentation")
								a(href="#") item#4
							li(role="presentation")
								a(href="#") item#5
						

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
		
	


