doctype
html
	head
		title group buttons
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
	
	body
		.container
			.row
				.col-md-10
					h1 Group Buttons
					.btn-toolbar
						.btn-group.btn-group-lg
							button.btn.btn-primary Button
							button.btn.btn-primary Button
							button.btn.btn-primary Button

			.row
				.col-md-5
					btn-toolbar
						.btn-group.btn-group-vertical.btn-group-sm
							button.btn.btn-danger Button
							button.btn.btn-danger Button
							button.btn.btn-danger Button

			.row
				.col-md-12
					btn-toolbar
						.btn-group.btn-group-justified
							.btn-group
								button.btn.btn-default Button
							.btn-group
								button.btn.btn-default Button
							.btn-group
								button.btn.btn-default Button



		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")

