doctype html
html
	head
		title Tables
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
	body
		.container
			.row
				.col-md-10
					h1 Simple table
					table.table.table-striped.table-bordered.table-hover
						tr
							th Id
							th Nombre
							th Apellido
						tr
							td 155
							td Carlos
							td  Lorem ipsum dolor sit amet.

						tr
							td 155
							td Carlos
							td  Lorem ipsum dolor sit amet.

						tr
							td 155
							td Carlos
							td  Lorem ipsum dolor sit amet.
